* {
    font-family: 'Helvetica Neue', 'Sans-serif', 'Microsoft Yahei', Verdana,
        'BBAlpha Sans', 'S60 Sans', Arial !important;
}

html {
    height: 100%
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px
}

#roads_info {
	overflow:auto;
	width: 230px;
	height: 50%;
	position: fixed;
	top: 1%;
	left: 3%;
	background: rgba(255, 255, 255, 0.8);
	z-index: 10000;
}

#roads_info button {
	position: absolute;
	bottom: 3%;
}

#roads_info ul li {
	cursor: pointer;
}

#controls {
	width: 230px;
	position: absolute;
	top: 50%;
	left: 3%;
	z-index: 100000;
	background: rgba(255, 255, 255, 0.7);
}

#confirmSelection {
	width: 230px;
	position: absolute;
	background: rgba(255, 255, 255, 0.7);
	top: 67%;
	left: 3%;
	z-index: 100000;
}

#resultButtons {
	position: absolute;
	width: 230px;
	height: 30px;
	background: rgba(255, 255, 255, 0.7);
	top: 90%;
	left: 3%;
	z-index: 100000;
}

#exportResultArea {
	width: 225px;
	height: 20%;
	position: absolute;
	left: 3%;
	top: 71%;
	z-index: 100000;
	opacity: 0.7;
}

#accordionContainer{
	display:none;
	position: absolute;
	top: 0;
	z-index: 1000000000;
	right: 1%;
	font-size: 80%;	
}

#accordion {
	height: 100%;
	width: 280px;
}

.roadLevelList {
	height: 200px;
	padding: 0 !important;
}

.roadLevelList ul li {
	cursor: pointer;
}

.connectedSortable
{
	min-height: 100px;
}

.dropDiv {
	font-size: 60% !important;
}

#level4ul {
	
}

.levelCategorySpan {
	color: #8E388E;
}

.levelCategorySpan:hover {
	color: #FFD700;
}

button {
	font-size: 70%;
}